Language Subject Identifier

# Proposal

> I am proposing a new (to Zotero) repeatable field, which is specifically for recording the language that a resource is about.
# The need for two elements

Zotero already has a IU element (and presumably a database 'slot' or RDF element) for _language_. However, this 'slot' is the equivalent to the .ris identifier: `LA  - Language`. When this element is used, it is used for the language which a resource is written in. Also equivalent to [MARC 21 code point 041a](http://www.loc.gov/marc/bibliographic/bd041.html). 

What I am proposing is different. It is a second metadata element which is specifically for _the language which the resource is about_.

To facilitate the interoperability of language information linguists (and librarians) rely on the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). (ISO 639-3 is used by Dublin Core, [MARC21](http://www.loc.gov/marc/languages/), Z39.53, MODS and other Metadata schema exchange systems. )

Linguist use this information quite a bit when looking for, and sharing metadata about resources -- especially resources about a particular language. See Simons (2013) slide three for how researchers use it: http://www-01.sil.org/~simonsg/local/ISO%20639-3.pdf 

See the title of this work for an example of ISO 639-3 in action: http://kuscholarworks.ku.edu/dspace/handle/1808/6408

> Spatial Reference in Rongga (ISO 639-3: ror), Balinese (ISO 639-3: ban), and Indonesian (ISO 639-3: ind)

Many language archives (for instance [PARADISEC](http://catalog.paradisec.org.au/collections/AC1/items/020), Berkley, ELDP, etc ) and several resource discovery ([glottolog](http://glottolog.org/glottolog?iso=ems) and [Open Language Archive Community](http://www.language-archives.org/) (OLAC)'s search service services use an this additional element to describe and help resource users find resources. 

![paradisec](https://f.cloud.github.com/assets/40230/2440218/8cc1f01e-ae05-11e3-9e89-c8312e5db5ec.jpg)
[Item record from PARADISEC collection AC1](http://catalog.paradisec.org.au/collections/AC1/items/020).

![glottolog](https://f.cloud.github.com/assets/40230/2440659/1173e674-ae0a-11e3-92e9-27d715e99b5d.jpg)
[glottolog](http://glottolog.org/glottolog?iso=ems)

![olac](https://f.cloud.github.com/assets/40230/2440664/241a53d0-ae0a-11e3-9ee3-de3ce70b5a71.jpg)
# Why ISO 639-3
- As of RFC 5645, RFC 5646 and [BCP47](http://www.rfc-editor.org/rfc/bcp/bcp47.txt) the preferred method of language Identification is through ISO 639-3. See discussion here: http://en.wikipedia.org/wiki/IETF_language_tag
- The OLAC language Extension calls for the use of ISO 639-3. http://www.language-archives.org/REC/language.html . 
- The ISO 639-3 code is also designated by [Dublin Core](http://dublincore.org/documents/dcmi-terms/#terms-language) (via [RFC 4646](http://www.ietf.org/rfc/rfc4646.txt)) as the way to designate "A language of the resource." 
- [MARC and MODS](http://www.loc.gov/standards/sourcelist/language.html) both use ISO 639-3. Because RFC 5645, RFC 5646 replace [RFC 3066](http://tools.ietf.org/html/rfc3066).
- MusicBraniz uses ISO 639-3 in the identification of its resources: http://tickets.musicbrainz.org/browse/MBS-1799
- [Z39.50 uses ISO 639-3 codes](http://www.loc.gov/z3950/agency/Z39-50-2003.pdf) via Z39.53 per section:  3.2.10.1.2 Searching for Information in a Particular Language
  
  > To search for records in a certain language, the HumanStringLanguage attribute may be used (in conjunction with the three-character language code as the term; see Z39.53-1994).
# Why not use... in Zotero
### Keywords
1. Keywords are less than idea because some users might apply the keyword differently ('ems','iso-639-3-ems', etc.)
2. All keywords would need to be parsed and ISO 639-3 keywords would need to be extracted, while not impossible, it becomes difficult especially, if point number one is true. These parsers would then need to be maintained.
### The current language field option

Because this field already has a defined meaning, which is not the same as the subject language of the resource. 
# How am I currently getting around this?

I'm not. I am using Endnote because it has several custom fields. I can't add custom fields to Zotero. I would like to move to Zotero. I know other linguists who choose to use other citation management solutions because they can add custom fields, one of those is usually a subject language.
# How might the UI work?

It could work like a keyword field as a comma separated value, but ideally it would be a single, but repeatable, select drop down menu -- however, at 7,700 codes that is a long list and unless something like [Select2](http://ivaynberg.github.io/select2/) or some other similar UX element were used.
